.card {
    position: relative;
    overflow: hidden;
    background-color: black;
    border: 1px solid rgb(47, 47, 47);
    width: 342px;
    height: 510px;

    .cover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        img{
            min-width: 342px;
            min-height: 510px;
            object-fit: cover;
            
        }
    }

    &:hover > .data {display: block;}
    
    .data{
        display: none;
        position: relative;
        overflow-y: auto;
        color:white;
        background-color: rgba(0,0,0,0.7);
        z-index: 1;

        

    }

}

.flag img {
    height: 20px;
}