.card {
    position: relative;
    background-color: black;
    border: 1px solid greenyellow;
    width: 342px;
    height: 512px;

    .cover {
        position: absolute;
        display: none;

        img{
            width: 342px;
            object-fit: cover;
        }
    }

    .data{
        overflow-y: auto;
        color:white;

    }

}

.flag img {
    height: 20px;
}