// Si può inserire in questo modo utilizzando la ~ per indicare la cartella node_modules
// @import "~bootstrap/scss/bootstrap";

@import "bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }





